@model testNetCoreWebApp.Models.Product
@using Microsoft.AspNetCore.Identity
@using testNetCoreWebApp.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết sản phẩm</h1>

<div>
    <div class="flex-row col-12">
        <div class=" col-3">

            <img src="@("~/image/"+ Model.Image)" asp-append-version="true" alt="" width="280px" height="300px" />

        </div>

        <dl class="row col-8">

            <dt class="col-sm-2">
                Tên
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Mô tả
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                giá
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                Loại sản phẩm
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Manufacturer)
            </dd>

            <dt class="col-sm-2">
                Ngày tạo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-2">
                Danh mục
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>
    </div>
</div>
<div>

    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Sửa |</a> 
    }
<a asp-action="Index">Trở về trang danh sách sản phẩm</a>
<a asp-action="AddCart" asp-route-id="@Model.Id" asp-controller="Cart">Thêm vào giỏ hàng</a>

</div>
